/* white #aaaaaa */
/* brown color #2B1E16 */

.info {
  background: #aaaaaa;
}

body {
  font-family: 'mahalo', sans-serif;
}

.primary-color {
  color: #2B1E16;
}

.info h2 {
  word-spacing: 0.07rem;
}

.info a {
  transition: color 2s ease-in-out 4s;
}

.info a:hover {
  color: #554646;
}
