
body {
  font-family: 'Londrina Solid', sans-serif;
  color: #000000;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.primary-color {
  color: #000000;
  text-shadow: 0 0 3px  rgb(187, 187, 187);
}

.secondary-color {
  color: #1e48b9;
  text-shadow: 0 0 3px #00a2ff;
}

.third-color {
  color: rgb(223, 157, 96);
  text-shadow: 0 0 3px  rgb(0, 0, 0);
}

#top-icons {
  background: url(/img/bar.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#top-icons h2 {
  word-spacing: 0.07rem;
}

#top-icons a {
  transition: color 2s ease-in-out 2s;
}

#top-icons a:hover {
  color:  rgb(223, 157, 96);
}

#top-icons {
  background: url(/img/bar.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#top-icons h2 {
  word-spacing: 0.07rem;
}

#top-icons a {
  transition: color .5s ease-in-out .5s;
}

#top-icons a:hover {
  color:  rgb(223, 157, 96);
}



/* #### HEADER #### */

#header {
  min-height: calc(100vh - 94px);
  background: url(../img/stone.jpg);
  opacity: 0.87;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  position: bottom;
}

.height-90 {
  min-height: calc(100vh - 94px);
}

.banner h1 {
  animation: fromLeft;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes fromLeft {
  0%{
    transform: translateX(-100px);
    opacity: 0;
  } 
  50%{
    transform: translateX(30px);
  }
  100%{
    transform: translateX(0);
    opacticy:  1;
  }
}

.main-btn {
  color: #1e48b9;
  text-shadow: 0 0 3px #00a2ff;
  font-size: 2rem;
  border: 3px solid #1e48b9;
  transition: all 1s ease-in-out;
}

.main-btn:hover {
  color: rgb(223, 157, 96);
  border: 2px solid rgb(223, 157, 96);
}

/* pseudo class for .main-btn to play with animations */
.poke-btn {
  animation: fromRight;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes fromRight {
  0%{
    transform: translateX(100px);
  } 
  50%{
    transform: translateX(-30px);
  }
  100%{
    transform: translateX(0);
    opacticy:  1;
  }
}

.header-link {
  display: inline-block;
  position: absolute;
  bottom: 5%;
  left: 48.5%;
  background: #1e48b9;
  color: #00a2ff;
  border-radius: 10px;
  transition: all 2s ease;
  animation: fromBottom;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

.header-link:hover {
  color: #3560d4;
  background: #e79548;
}

@keyframes fromBottom {
  0% {
    transform: translateY(-10px);
  }
  
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
/* #### end header #### */

/* #### NAVBAR #### */

.navbar {
  background: url(/img/bar.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 20px;
  transition: all 1s ease;
}

.navbar-background {
  padding: 5px 20px;
}

.navbar-brand {
  font-size: 35px;
  transition: all 1s ease;
}

.narbar-brand:hover {
  color: #000000
}

.nav-link {
  color: #000000;
  text-shadow: 0 0 3px  rgb(70, 69, 69);
  text-decoration: none;
  transition: all 2s ease;
  font-size: 35px;
}

.nav-link:hover {
  color: rgb(223, 157, 96);
  text-shadow: 0 0 3px  rgb(0, 0, 0);
}

.nav-btn {
  background: transparent;
  color: #e79548;
  text-shadow: 0 0 3px  rgb(0, 0, 0);
  border: 2px solid #e79548;
  font-size: 33px;
  transition: all 2s ease;
} 

.nav-btn:hover {
  color: #e79548;
  border: 2px solid #e79548;
}

.toggler-btn {
  border: 2px solid #e79548;
  padding: 5px;
  transition: all 2s ease;
}

/* #### end NAVBAR #### */


/* #### bowls #### */

#bowls {
  background: linear-gradient(rgba(255, 255 ,255 ,0.7),rgba(255,255,255,0.07)),
  url(/img/flowers.jpeg)center/cover fixed no-repeat;
}

.item-container {
  position: relative;
  /* for the link */
  overflow: hidden;
  background: #000000;
  transition: all 2s ease;
}

.item-img {
  transition: all 2s ease;
}

.item-container:hover .item-img {
  transform: scale(1.2);
  opacity: 0.5;
}

.item-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #1e48b9;
  text-shadow: 0 0 3px #00a2ff;
  font-size: 2.9rem;
  border-top: 3px solid #3560d4;
  border-bottom: 3px solid #3560d4;
  transition: all 2s ease;
  opacity: 1;
}

.item-container:hover .item-link {
  opacity: 1;
}

.item-link:hover{
  border: 3px solid #e79548;
  background: rgb(223, 157, 96);
  color: #3560d4;
}

.item-container:hover {
  outline: 10px solid #3560d4;
  outline-offset: 0.8rem;
}

.bowlpic {
  opacity: .8;
}

/* #### END bowls #### */


/* #### menu #### */

#menu {
  background: linear-gradient(rgba(255, 255 ,255 ,0.7),rgba(255,255,255,0.07)),
  url(/img/stone.jpg)center/cover fixed no-repeat;
}


.special {
  border: 3px solid rgb(223, 157, 96);
  position: relative;
}

.special-text {
  position: absolute;
  top: 0;
  right: 10%;
  background: rgb(223, 157, 96);
  padding: 0.04rem;
}
/* #### end menu #### */

/* #####about##### */

#about {
  background: linear-gradient(rgba(255, 255 ,255 ,0.7),rgba(255,255,255,0.07)),
  url(/img/about.jpeg)center/cover fixed no-repeat;
}
.about-pictures {
  position: relative;
}

.about-image {
  position: absolute;
  width: 195px;
  transition: all 2s ease;
  opacity: 0.9;
}

.img-1 {
  left: 0%;
  top: 0%;
}

.img-2 {
  left: 20%;
  top: 20%;
  z-index: 10;
}

.img-3 {
  left: 40%;
  top: 45%;
  z-index: 20;
}

.img-4 {
  left: 40%;
  top: 0%;
}

.img-5 {
  left: 0%;
  top: 45%;
}

.about-image:hover {
  outline: 10px solid #869bd6;
  outline-offset: 0.8rem;
  transform: scale(1.3) rotate(20deg);
  z-index: 30;
  opacity: 1;
}

.about-pictures:hover .about-image:not(:hover) {
  opacity: 0.5;
}

p.abparagraph {
  font-size: 1.6rem;
}
/* #####end about##### */

/* Contact */
#contact {
  background: linear-gradient(rgba(255, 255 ,255 ,0.7),rgba(255,255,255,0.07)),
  url(/img/stone.jpg)center/cover fixed no-repeat;
}
/* end of contact */

/* #####footer##### */
#footer {
  background: url(/img/bar.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#footicon a:hover {
  color:  rgb(223, 157, 96);
}

#footicon {
  background: url(/img/bar.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#footicon h2 {
  word-spacing: 0.07rem;
}

#footicon a {
  transition: color 2s ease-in-out 2s;
}

#footicon a:hover {
  color:  rgb(223, 157, 96);
}

/* this is for the up arrowkey */

#back-to-top {
  color:  #7590dd;
  background: #7590dd;
  text-shadow: 0 0 3px  rgb(0, 0, 0);
  font-size: 2rem;
  border: 2px solid #7590dd;
  transition: all 1s ease-in-out;
  border-radius: 10px;
  display: inline-block;
}

#back-to-top:hover {
  color: rgb(223, 157, 96);
  background: rgb(223, 157, 96);
  border: 2px solid rgb(223, 157, 96);
}

.scrollTop {
  position: fixed;
  bottom: 70px;
  right: 20px;
}
/* #####end footer##### */








